<ion-view>
	<!--<ion-nav-bar>
	  <ion-nav-back-button class="button-clear headerBackArrowMarginLeft">
	  </ion-nav-back-button>
	</ion-nav-bar>-->

	<ion-content class="">
		<div class="container">

			<div class="page-title">
				<h1>Email Sent!</h1>
			</div>
					
			<!-- End Page title -->
				
			<!-- Start Main-content -->
			<div class="main-content cgi-content">
				<p>The message was sent!</p>  
				<p>Please use the hyperlinks contained in the message to modify or remove your ads.</p>
				<p>You may need to check your email account's <b>spam or junk mail folder</b> for this message.</p>
				<p><a href='#/home'>Return to Home Page</a></p>
			</div>
		</div>
	</ion-content>
</ion-view>

