<ion-view ng-controller="ForgotPassword" view-title="Request new password" hide-nav-bar="true" class="ion-view-background-account-page">
	
	<ion-content class="ion-view-background-account-page">
	
		<div class="account-page forgot_password text-center">
			<a class="padding pull-right button-icon ion-close" style="color:white !important;font-size:200%;font:bold;position:relative;z-index:999;" on-touch="goBack()"></a>
			<div class="account-page-logo">
	            <div>
	                <img src="img/logo-icon_svg.svg" />
	                <span class="logo-text"><strong>expatriates.com</strong></span>
	            </div>
	        </div>
		</div>	

		<center>
			<p class="padding">Please enter the email address to change your account password.</p>
		</center>

		<form name="passwordreset" id="passwordreset" class="padding" novalidate ng-submit="sendAuthLink(passwordreset,email)" >
			<div  ng-show="showErr" class="list padding">
				<div  class="item item-input item-stacked-label">
					<center class="alert-box notice alert-box-border-for-bg-blue">
						<div ng-if="onlineStatus && errorCode != ''">
							<span ng-bind="('Please, correct the following error.')"></span>
							<br/>
							<b ng-bind="errorCode"></b> - <span ng-bind="errorMessage"></span>
						</div>
						<div ng-if="onlineStatus && errorCode === ''">
	                        <span ng-bind="'Please, check your internet connection.'"></span>
	                    </div>
						<div ng-if="!onlineStatus">
							<span ng-bind="'Please, check your internet connection.'"></span>
						</div>
					</center>
				</div>
			</div>
			
			<div class="list">
				<label class="item item-input item-floating-label">
					<span class="input-background-color input-label">Enter your e-mail</span>
					<input class="input-background-color" type="email" name="Email" id="Email"  placeholder="Enter your e-mail"
					ng-model="email" ng-pattern='/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i' required/>
					<div ng-show="submitted || passwordreset.Email.$touched" ng-messages="passwordreset.Email.$error">
					<div class="form-error-sign-in" ng-message="pattern">Email is not valid.</div>
					<div class="form-error-sign-in" ng-message="required">This field is required.</div>
					</div>
				</label>
				
				<button class='button button-full create-button-color' type='submit' >Send Request</button>
			</div>
		</form>
	</ion-content>
</ion-view>
