<ion-view view-title="Request new password" ng-controller="ForgotPassword">
	
	<ion-content class="padding ion-content-background">
		<div ng-if="onlineStatus">
            <center class="report-flag-icon">
                <i class="icon ion-ios-unlocked-outline"></i>
            </center>
			<div class="padding">
				<div class="padding-top"></div>
				<div class="padding-top"></div>
				<center>A message has been sent to your email address!</center>
				<div class="padding-top"></div>
				<div class="padding-top"></div>
				<center>Please click on the link in the message to reset your password.</center>
				<div class="padding-top"></div>
				<div class="padding-top"></div>
				<center>You may need to check your email account's <b>spam or junk mail folder</b> for this message.</center>
				<div class="padding-top"></div>
				<div class="padding-top"></div>
                <button ng-click="goBackToSignin()" class="button  icon-left ion-android-arrow-back button-block full-back-button-bg-color">
                    Return to Sign in page
	            </button>
			</div>
		</div>
	</ion-content>
</ion-view>
