<ion-view class="home_view" ng-controller="HomeCtrl">
	<ion-nav-title>
		<img class="header-image" src="./img/favicon.png" /> expatriates.com
	</ion-nav-title>
	<ion-content class="padding" ng-class="{'has-footer' : !onlineStatus}">
		<div class="ads_search home_search">
			<div class="row">
				<div class="col">
					<label class="input-icon-right">
						<input class="form-control myAds-serch-box" type="text" placeholder="Search for ..." name="search" id="search" ng-model="searchQuery" />
					</label>
					<span class="icon-on-right" ng-click="gotoDirectory(searchQuery)">
						<i class="input_icon exp-icon-noun_860088_cc2"></i>
					</span>
				</div>
			</div>
		</div>
		<ion-list>
			<div ng-if="serverError" class="padding">
	            <div class="padding-top"></div>
	            <div class="padding-top"></div>
	            <div class="padding-top"></div>
	            <center class="padding report-flag-icon">
	                <i class="icon ion-speakerphone"></i>
	            </center>
	            <center class="padding-top">
	                <span style="font-size:120%;" ng-bind="message"></span>
	            </center>
	        </div>
			<div ng-if="highlightRegionList.length > 0" class="list-background-color">
				<div ng-repeat="r in highlightRegionList">
					<a class="item item-icon-right" 
					    href="#/region?region={{r.region_code}}&regionName={{r.name}}" 
						on-touch="currentRegion(r)">
						<i class="region-icon-right icon ion-chevron-right"></i>
						<span ng-bind="r.name"></span>
					</a>
					<div ng-hide="$last" class="list-hr-line"></div>
				</div>
			</div>
			<br ng-if="highlightRegionList.length > 0" /> 
			<div ng-if="regionList && regionList.continents.length > 0" class="list-background-color">
		        <div ng-repeat="r in regionList.continents">
			        <ion-item class="item-icon-right"
			            ng-click="toggleGroup(r)">
			            <strong ng-bind="r.name"></strong>
			            <i class="region-icon-right-collapsible icon" ng-class="isGroupShown(r) ? 'ion-arrow-down-b' : 'ion-arrow-right-b'"></i>
			        </ion-item>
			        <div ng-hide="$last" class="list-hr-line"></div>
			        <div class="padding-left">
						<a class="item item-icon-right"  
							ng-repeat="c in r.countries | orderBy:'name'" 
							ng-show="isGroupShown(r)"
						    ng-click="getRegionData(c)"> 
							<i class="region-icon-right icon ion-chevron-right"></i>
							<span ng-bind="c.name"></span>
						</a>
					</div>
		        </div>
		    </div>
    	</ion-list>
    	<div class="padding-top"></div>
    	<div class="padding-top"></div>
    	<div class="padding-top"></div>
    </ion-content>
    <div class="padding">
        <button id="fab-profile" class="button button-fab button-fab-bottom-right fab-button-background" ng-click="goToPostAnAd()"><i class="icon ion-plus"></i></button>
    </div>
</ion-view>

