<ion-view ng-controller="postingAdFlagCtrl" on-swipe-right="onSwipeRight('right')" on-swipe-left="onSwipeLeft('left')" view-title="Thank you!">
	
	<ion-content class="">
		<div class="container">

			<!-- Start Main-content -->
			<div class="main-content cgi-content">

				<div class="card">
		            <div class="item item-divider">
		                <strong>Thank You!.</strong>
		            </div>
		            <div class="item item-body">
		                <h2><strong ng-bind="welcomeMsg"></strong></h2>
		            </div>
		        </div>
			</div>
			<!-- End Main-content -->
			
		</div>
	</ion-content>
</ion-view>
