<ion-view ng-controller="ReportCtrl" view-title="Report">
	<ion-content class="ion-view-background-posting-ad padding">
	
		<center class="padding report-flag-icon">
			<i class="icon ion-ios-flag-outline"></i>
		</center>
		<center class="padding-top">
			<div class="profile">Thank you for reporting this problem.<br/>
								 If more then one people report<br/>
								 the same problem, <br/>
								 the Ad will automatically removed
			</div> 
		</center>

		<div class="padding-top"></div>
		<div class="padding-top"></div>
		<div class="padding-top"></div>
		<button type="button" class="icon-left ion-arrow-left-c button button-full gray-button"  ng-click="goToClassified()">
			Return to Ad
		</button>		
	</ion-content>
</ion-view>