<ion-view view-title="Terms of Use">

	<ion-content class="padding">
		<div class="post-body">
				
			<PAGEBODY>

				<P><B>1. Acceptance of Terms </B>
					<P align="left">Expatriates.com provides a collection of online resources, 
										including classified ads, forums, and various email services, (referred to 
										hereafter as "the Service") subject to the following Terms of Use ("Terms"), 
										which may be updated by expatriates.com from time to time without notice to 
										you. You can review the most current version of the Terms at: <a href="https://www.expatriates.com/html/terms.of.use.html">
											https://www.expatriates.com/html/terms.of.use.html</A>
									. By using the Service in any way, you are agreeing to comply with these Terms.
									In addition, when using particular expatriates.com services, you shall be 
									subject to any posted guidelines applicable to such services which may be 
									posted from time to time. All such guidelines or rules are hereby incorporated 
									by reference into the Terms.
						<P><B>2. Content</B>
									<P align="left">
									You understand that all postings, messages, text, files, images, photos, video, 
									sounds, or other materials ("Content") posted on, transmitted through, or 
									linked from the Service, are the sole responsibility of the person from whom 
									such Content originated. More specifically, you are entirely responsible for 
									all Content that you post, email or otherwise make available via the Service. 
									You understand that expatriates.com does not control, and is not responsible 
									for Content made available through the Service, and that by using the Service, 
									you may be exposed to Content that is offensive, indecent, inaccurate, 
									misleading, or otherwise objectionable. You agree that you must evaluate, and 
									bear all risks associated with, the use of any Content, that you may not rely 
									on said Content, and that under no circumstances will expatriates.com be liable 
									in any way for any Content or for any loss or damage of any kind incurred as a 
									result of the use of any Content posted, emailed or otherwise made available 
									via the Service.
									<P align="left">
									You acknowledge that expatriates.com does not pre-screen or approve Content, 
									but that expatriates.com shall have the right (but not the obligation) in its 
									sole discretion to refuse, delete or move any Content that is available via the 
									Service, for violating the letter or spirit of the Terms or for any other 
									reason.
									<P align="left">
									You acknowledge and agree that expatriates.com may, in its sole discretion, 
									preserve or disclose Content, as well as email addresses, IP addresses, 
									timestamps, and other user information, if required to do so by law or in the 
									good faith belief that such preservation or disclosure is reasonably necessary 
									to: comply with legal process; enforce the Terms; respond to claims that any 
									Content violates the rights of third-parties; or protect the rights, property, 
									or personal safety of expatriates.com, its users or the general public.
									<P align="left">
									Although expatriates.com does not claim ownership of content that its users 
									post, by posting Content to any public area of the Service, you automatically 
									grant, and you represent and warrant that you have the right to grant, to 
									expatriates.com an irrevocable, perpetual, non-exclusive, fully paid, worldwide 
									license to use, copy, perform, display, and distribute said Content and to 
									prepare derivative works of, or incorporate into other works, said Content, and 
									to grant and authorize sublicenses of the foregoing. Additionally, you will 
									defend and indemnify expatriates.com from any third party claim related to a 
									breach of any of the foregoing representations and warranties.
									<P align="left">
									Content displayed on or through the Service is protected by copyright as a 
									collective work and/or compilation, pursuant to copyrights laws, and 
									international conventions. You agree not to reproduce, duplicate or copy 
									Content from the Service, and agree to abide by any and all copyright notices 
									displayed on the Service.
									<P><a name="conduct"><B>3. Conduct</B></a>
											<P align="left">You agree not to post, email, or otherwise make available Content:
												<ul>
													<LI>
														<DIV align="left">that is pornographic, adult, or mature;
														</DIV>
													<LI>
														<DIV align="left">that refers to gambling or is casino-related; 
														</DIV>
													<LI>
														<DIV align="left">that includes illicit drugs or drug paraphernalia;
														</DIV>
													<LI>
														<DIV align="left">that includes hacking/cracking information. 
														</DIV>
													<LI>
														<DIV align="left">Sales of prescription drugs;
														</DIV>
													<LI>
														<DIV align="left">Violent content;
														</DIV>					
													<LI>
														<DIV align="left">Excessive profanity;
														</DIV>					
													<LI>
														<DIV align="left">Content regarding programs which compensate users for clicking ads or offers, performing searches, surfing websites or reading emails;
														</DIV>					
													<LI>
														<DIV align="left">Any other content that is illegal, promotes illegal activity or infringes on the legal rights of others;
														</DIV>					
													<LI>
														<DIV align="left">Sales of products that are replicas or imitations of designer or other goods;
														</DIV>					
													<LI>
														<DIV align="left">Sales or distribution of coursework or student essays;
														</DIV>																																																																		
													<LI>
														<DIV align="left">Sales of weapons or ammunition (e.g. firearms, firearm components, fighting knives, stun guns);
														</DIV>																																										
													<LI>
														<DIV align="left">that is unlawful, harmful, threatening, abusive, harassing, 
															defamatory, pornographic, libelous, invasive of another's privacy, or harms 
															minors in any way;
														</DIV>
													<LI>
														<DIV align="left">that harasses, degrades, intimidates or is hateful toward an 
															individual or group of individuals on the basis of religion, gender, sexual 
															orientation, race, ethnicity, age, or disability;
														</DIV>
													<LI>
														<DIV align="left">that impersonates any person or entity, including, but not 
															limited to, a expatriates.com employee, or falsely states or otherwise 
															misrepresents your affiliation with a person or entity;
														</DIV>
													<LI>
														<DIV align="left">that includes personal or identifying information about another 
															person without that person's explicit consent.
														</DIV>
													<LI>
														<DIV align="left">that employs misleading email addresses, or forged headers or 
															otherwise manipulated identifiers in order to disguise the origin of Content 
															transmitted through the Service;
														</DIV>
													<LI>
														<DIV align="left">that infringes any patent, trademark, trade secret, copyright or 
															other proprietary rights of any party, or Content that you do not have a right 
															to make available under any law or under contractual or fiduciary 
															relationships.
														</DIV>
													<LI>
														<DIV align="left">that constitutes or contains unauthorized advertising, 
															promotional materials, "junk mail," "spam," "chain letters," "pyramid schemes," 
															or any other form of solicitation.
														</DIV>
													<LI>
														<DIV align="left">that includes links to commercial services or web sites, except 
															as allowed in "Services Offered".
														</DIV>
													<LI>
														<DIV align="left">that advertises for sale weapons or explosives; controlled 
															substances (including but not limited to) tobacco products, alcoholic 
															beverages, pharmaceuticals, illegal drugs; stolen or counterfeit items; goods 
															or services that do not in fact exist; items that violate or infringe the 
															rights of others; any items you do not have the right to sell; any dangerous 
															items.
														</DIV>
													<LI>
														<DIV align="left">that contains software viruses or any other computer code, files 
															or programs designed to interrupt, destroy or limit the functionality of any 
															computer software or hardware or telecommunications equipment;
														</DIV>
													<LI>
														<DIV align="left">that disrupts the normal flow of dialogue with an excessive 
															number of messages (flooding attack) to the Service, or that otherwise 
															negatively affects other users' ability to use the Service;
														</DIV>
													</LI>
												</ul>
											<P align="left">Additionally, you agree not to:
											</P>
											<ul>
												<LI>
													<DIV align="left">contact anyone who has asked not to be contacted.
													</DIV>
												<LI>
													<DIV align="left">"stalk" or otherwise harrass anyone
													</DIV>
												<LI>
													<DIV align="left">collect personal data about other users for commercial or 
														unlawful purposes.
													</DIV>
												<LI>
													<DIV align="left">use automated means, including spiders, robots, crawlers, data 
														mining tools, or the like to download data from the Service - exception is made 
														for internet search engines (e.g. Google) and non-commercial public archives 
														(e.g. archive.org).
													</DIV>
												</LI>
											</ul>
											<P><B>4. Limitations on service </B>
											<P align="left">
											You acknowledge that expatriates.com may establish limits concerning use of the 
											Service, including the maximum number of days that Content will be retained by 
											the Service, the maximum number and size of postings, email messages, or other 
											Content that may be transmitted or stored by the Service, and the frequency 
											with which you may access the Service. You agree that expatriates.com has no 
											responsibility or liability for the deletion or failure to store any Content 
											maintained or transmitted by the Service. You acknowledge that expatriates.com 
											reserves the right at any time to modify or discontinue the Service (or any 
											part thereof) with or without notice, and that expatriates.com shall not be 
											liable to you or to any third party for any modification, suspension or 
											discontinuance of the Service.
											<P><B>5. Termination of service</B>
											<P align="left">
											You agree that expatriates.com, in its sole discretion, may delete or 
											deactivate your account, block your email or IP address, or otherwise terminate 
											your access to or use of the Service (or any part thereof), immediately and 
											without notice, and remove and discard any Content within the Service, for any 
											reason, including, without limitation, if expatriates.com believes that you 
											have acted inconsistently with the letter or spirit of the Terms. Further, you 
											agree that expatriates.com shall not be liable to you or any third-party for 
											any termination of your access to the Service. Further, you agree not to 
											attempt to use the Service after said termination.
											<P><B>6. Dealings with organizations and individuals </B>
											<P align="left">
											Your interactions with organizations and/or individuals found on or through the 
											Service, including payment and delivery of goods or services, and any other 
											terms, conditions, warranties or representations associated with such dealings, 
											are solely between you and such organizations and/or individuals. You agree 
											that expatriates.com shall not be responsible or liable for any loss or damage 
											of any sort incurred as the result of any such dealings.
	                                                                                <p>You agree not to use Western Union or MoneyGram to send or receive payment for any goods or services.</p>
											<P><B>7. Proprietary Rights</B>
											<P align="left">

	The Service is protected to the maximum extent permitted by copyright laws 
	and international treaties. Content displayed on or through the Service is 
	protected by copyright as a collective work and/or compilation, pursuant to 
	copyrights laws, and international conventions. Any reproduction, 
	modification, creation of derivative works from or redistribution of the 
	site or the collective work, and/or copying or reproducing the sites 
	or any portion thereof to any other server or location for further 
	reproduction or redistribution is prohibited without the express 
	written consent of expatriates.com. You further agree not to reproduce, 
	duplicate or copy Content from the Service without the express written 
	consent of expatriates.com, and agree to abide by any and all copyright notices 
	displayed on the Service. You may not decompile or disassemble, reverse 
	engineer or otherwise attempt to discover any source code contained in the 
	Service. Without limiting the foregoing, you agree not to reproduce, 
	duplicate, copy, sell, resell or exploit for any commercial purposes, any 
	aspect of the Service. 

	Although expatriates.com does not claim ownership of content that its users post, 
	by posting Content to any public area of the Service, you automatically 
	grant, and you represent and warrant that you have the right to grant, to 
	expatriates.com an irrevocable, perpetual, non-exclusive, fully paid, worldwide 
	license to use, copy, perform, display, and distribute said Content and to 
	prepare derivative works of, or incorporate into other works, said Content, 
	and to grant and authorize sublicenses (through multiple tiers) of the 
	foregoing. Furthermore, by posting Content to any public area of the Service, 
	you automatically grant expatriates.com all rights necessary to prohibit any 
	subsequent aggregation, display, copying, duplication, reproduction, or 
	exploitation of the Content on the Service by any party for any purpose.
	 										</p>
											<P><B>8. Disclaimer of Warranties / Limitation of Liability</B>
											<P align="left">You understand and agree that:
												<ul>
													<LI>
														<DIV align="left">expatriates.com disclaims all warranties of any kind, whether 
															express or implied.
														</DIV>
													<LI>
														<DIV align="left">The Service is provided on an "as is" and "as available" basis, 
															and you should not rely upon it.
														</DIV>
													<LI>
														<DIV align="left">Your use of the Service is at your sole risk, and expatriates.com 
															shall not be liable for any direct, indirect, incidental, special, 
															consequential or exemplary damages (even if expatriates.com has been advised of 
															the possibility of such damages), resulting from any aspect of your use of or 
															interaction with the Service.
														</DIV>
													<LI>
														<DIV align="left">Any warranty not set forth in this Terms document, including any 
															set forth by expatriates.com employees, will be invalid.
														</DIV>
													<LI>
														<DIV align="left">If any of the above provisions are void under governing law, our 
															liability shall be limited to the extent permitted by law.
														</DIV>
													</LI>
												</ul>
											<P><B>9. Indemnity </B>
											<P align="left">
											You agree to indemnify and hold expatriates.com, its officers, and its 
											employees, harmless from any claim or demand, including reasonable attorney 
											fees, made by any third party due to or arising out of Content you submit, post 
											or make available through the Service, your use of the Service, your violation 
											of the Terms, or your violation of any rights of another.
											<P><STRONG>10. Links</STRONG></P>
											<P align="left">
											Expatriates.com may provide, or third parties may provide, links to other World 
											Wide Web sites or resources. Because&nbsp;expatriates.com has no control over 
											such sites and resources, you acknowledge and agree that expatriates.com&nbsp; 
											is not responsible for the availability of such external sites or resources, 
											and does not endorse and is not responsible or liable for any Content, 
											advertising, products, or other materials on or available from such sites or 
											resources. You further acknowledge and agree that&nbsp;expatriates.com shall 
											not be responsible or liable, directly or indirectly, for any damage or loss 
											caused or alleged to be caused by or in connection with use of or reliance on 
											any such Content, goods or services available on or through any such site or 
											resource.
											<P><B>11. General information </B>
											<P align="left">
											The Terms constitute the entire agreement between you and expatriates.com and 
											govern your use of the Service, superceding any prior agreements between you 
											and expatriates.com. The Terms and the relationship between you and 
											expatriates.com shall be governed by the laws of the State of California 
											without regard to its conflict of law provisions. You and expatriates.com agree 
											to submit to the personal and exclusive jurisdiction of the courts located 
											within the county of San Francisco, California. The failure of expatriates.com 
											to exercise or enforce any right or provision of the Terms shall not constitute 
											a waiver of such right or provision. If any provision of the Terms is found by 
											a court of competent jurisdiction to be invalid, the parties nevertheless agree 
											that the court should endeavor to give effect to the parties' intentions as 
											reflected in the provision, and the other provisions of the Terms remain in 
											full force and effect. You agree that regardless of any statute or law to the 
											contrary, any claim or cause of action arising out of or related to use of the 
											Service or the Terms must be filed within one (1) year after such claim or 
											cause of action arose or be forever barred.


											<P><B>12. Violations of Terms</B>
											<P align="left">Please report any violations of the Terms,&nbsp; by emailing to <a href="mailto:abuse@expatriates.com">
													contact@expatriates.com</A>.
											</P>



	</PAGEBODY>
		
			</div>
	</ion-content>
</ion-view>