.welcome-icon .icon {
  font-size: 100px;
  color: #ccc;
}

.welcome-text {
  font-size: 18px;
  color: #000;
}

.welcome-content {
  max-width: 540px;
  padding-top: 50px !important;
  color: rgba(0, 0, 0, 0.8);
  font-size: 16px;
}

.exp-icon-noun_232512_cc:before {
  content: "\e924";
}