ion-content {
  --background: white;
}

ion-item {
  ion-label {
    color: var(--ion-color-medium);
  }

  ion-input {
    --padding-start: 8px;
    border: 1px solid var(--ion-color-border);
  }
}

.profile-type {
  margin: 0 16px;
  border: 1px solid var(--ion-color-border);

  ion-radio {
    margin-inline-end: 16px;
  }
}

.edit-buttons {
  display: flex;
  padding: 8px 16px 32px;
  justify-content: space-between;

  ion-button {
    width: 48%;
    --border-radius: 4px;
  }
}