<ion-content class="auth-content">
  <app-auth-header></app-auth-header>

  <p class="ion-text-center ion-padding ion-no-margin">
    Please enter the email address to change your account password.
  </p>

  <form [formGroup]="resetForm" (ngSubmit)="reset()" class="ion-padding">
    <ion-item lines="none" class="input-box ion-no-padding">
      <ion-label>
        <ion-icon name="mail-outline"></ion-icon>
      </ion-label>
      <ion-input type="email" placeholder="Enter your e-mail..." formControlName="email" (keyup.enter)="reset()"
        autocomplete="doNotAutoComplete">
      </ion-input>
    </ion-item>
    <div *ngFor="let validation of validationMessages">
      <div class="field-error" *ngIf="formControlHasError('email', validation)">
        {{validation.message}}
      </div>
    </div>

    <ion-button type="submit" expand="full" shape="round" color="secondary" [disabled]="!resetForm.valid">
      Send Request
    </ion-button>
  </form>
</ion-content>